@model IEnumerable<Product>

<div class="container">
    <h1 class="text-center">Products</h1>
    <table class="table table-striped table-light">
        <thead>
            <tr>
                <th scope="col">Product Name</th>
                <th scope="col">Description</th>
                <th scope="col">Price</th>
                <th scope="col">Image</th>
                <th scope="col">Availability</th>
                <th scope="col">Date Added</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model)
            {
                <tr>
                <td>@item.ProductName</td>
                <td>@item.ProductDescription</td>
                <td>@item.Price</td>
                <td>
                    <img src="/images/@item.ImageFileName" class="img-fluid" style="max-width: 40px; height: auto; object-fit: cover;" />
                </td>

                <td>
                    @if (item.IsActive)
                    {
                        <span class="badge bg-success px-3 py-2">Active</span>
                    }
                    else
                    {
                            <span class="badge bg-danger px-3 py-2">Inactive</span>
                    }
                </td>
                <td>@item.DateAdded.ToString("yyyy-MM-dd")</td>
                <td>
                        <a asp-controller="Product" asp-action="Edit" asp-route-productId="@item.Id" class="btn btn-primary">Edit</a>
                </td>
                <td>
                    <form asp-action="Delete" method="post">
                            <input type="hidden" name="productId" value="@item.Id" />
                            <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
            }

        </tbody>
    </table>
</div>
