@model IEnumerable<Product>

<div class="container">
    <h1 class="text-center">Products</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Product Name</th>
                <th scope="col">Description</th>
                <th scope="col">Price</th>
                <th scope="col">Image</th>
                <th scope="col">Availability</th>
                <th scope="col">Date Added</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                @foreach(var item in Model)
                {
                    <td>@item.ProductName</td>
                    <td>@item.ProductDescription</td>
                    <td>@item.Price</td>
                    <td>@item.ImageFileName</td>
                    <td>
                        @if (item.IsActive)
                        {
                            <span class="badge bg-success">Active</span>
                        }
                        else
                        {
                            <span class="badge bg-danger">Inactive</span>
                        }
                    </td>
                    <td>@item.DateAdded.ToString("yyyy-MM-dd")</td>
                }
            </tr>
        </tbody>
    </table>
</div>
